{% extends 'products/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'vendor/css/orders.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <section>
        <div class="container pt-5">
            <div class="text-center mt-5">
                <h1>order №{{ object.id }}</h1>
                <div class="orders mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amout</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for items in object.basket_history.history_items %}
                            <tr>
                                <th scope="row"> {{ items.product_name }}</th>
                                <td>{{ items.quantity }}</td>
                                <td>{{ items.price }} $</td>
                                <td>{{ items.current_sum }} $</td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                    <p class="float-right h4 mt-3">Result {{ object.basket_history.total_sum }} $</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}